<h1>注文詳細ページ</h1>
<h2>注文処理状況 : 
<% case @order.status %>
<% when 0 %>
発送手続き中
<% when 1 %>
発送済み
<% end %>
</h2>
    <table>
        <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="3"></th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% sum = 0 %>
        <% @order.items.each do |item| %>
            <tr>
                <td><%= link_to (image_tag (item.image.url) if item.image?), item_path(item) %></td>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
            </tr>
            <% sum = sum + item.price %>
        <% end %>
    </tbody>
    </table>
<h2>合計ご注文金額 : <%= sum %>円</h2>
