<%= render 'shared/user_nav' %>
<%= render 'shared/success' %>
<div class="container">
    <div class="row">
        
    </div>
    <div class="row">
        <div class="mx-auto">
        <%= render 'shared/errors' %>
        </div>
    </div>
    <div>
        <div class=" col-md-6 mx-auto mt-3">
        <h2 class="mx-auto">アカウント作成</h2>
        <%= render 'form', user: @user %>
        </div>
    </div>
</div>
