<h1>注文確認ページ</h1>
<table>
  <thead>
  <tr>
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to (image_tag (order.items.first.image.url) if order.items.first.image?), order_path(order) %></td>
        <td><%= order.items.first.name %>などのご注文</td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>