<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <ul class="errors" style="list-style-type: none;">
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>
