<%= form_with(url: items_path, method: :get, local: true, class: "float-left") do |form| %>
                <div class="actions">
                    <%= form.submit value: "商品一覧へ戻る", class:"btn btn-secondary" %>
                </div>
<% end %>