<%= form_with(url: admins_path, method: :get, local: true, class: "float-left") do |form| %>
                <div class="actions">
                    <%= form.submit value: "管理者ホームへ戻る", class:"btn btn-secondary" %>
                </div>
<% end %>