<%= form_with(url: item_path(item), method: :get, local: true, class: "float-center") do |form| %>
                <div class="actions">
                    <%= form.submit value: "商品詳細ページへ", class:"btn btn-secondary" %>
                </div>
<% end %>