<%= form_with(url: static_home_path, method: :get, local: true, class: "float-left") do |form| %>
                <div class="actions">
                    <%= form.submit value: "ホームへ戻る", class:"btn btn-secondary" %>
                </div>
<% end %>