<%= form_with(url: static_home_url, method: :get, local: true, class: "float-center") do |form| %>
                <div class="actions">
                    <%= form.submit value: "ショッピングサイトへ", class:"btn btn-secondary" %>
                </div>
<% end %>